{% extends "base.html" %}

{% block content %}

<!-- HEADER SECTION-->
<div class="container">
    <hedaer class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Avengers Assemble</h2>
            <h5>Create an amazing gruop of fighters to battle evil!</h5>
            <div>
            <button class="btn btn-primary">View Our Docs</button>
            <button class="btn btn-primary">Join Our Slack</button>
        </div>     
    </div>
    <!-- Header Image-->
    <div class="col-12 col-md-6">
        <img src="../../static/images/three_new_official_mcu_series_for_disney__by_artlover67_ddepodh-pre.jpeg" alt="Hero Header Image" class="header-image">
    </div>
</hedaer>
</div>
<!-- End of Our Header Section -->

<!-- Start of Middle Section -->

<section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Avengers!</h2>
            <p>You can harness their power!</p>
        </div>
    </section>

<!-- End of Middle Section -->

<!-- Collection of Features -->
<section class="row" id="features-section">
    <div class="col-12 col-md-4">
        <img src="../../static/images/captain_marvel.png" alt="Captain Marvel image" id="captain_marvel-image">
        <h5 id ="carol_d">Captain Marvel (Carol Danvers)</h4>
        <p id ="carol_d_quote">
            "I'm not going to fight your war, I'm going to end it."
        </p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/black_widow.png" alt="black_widow-image" id="black_widow-image">
        <h5 id ="natasha_r">Black Widow (Natasha Romanoff)</h4>
        <p>
            "You know, if you're about to tell me to look on the bright side - I'm about to hit you in the head 
            with a peanut butter sandwich."
        </p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/wanda.png" alt="Wanda image" id="wanda-image">
        <h5 id ="wanda_m">Wanda (Wanda Maximoff)</h4>
        <p id ="wanda_m_quote">
            "You break the rules and become a hero. I do it and I become the enemy."
        </p>
    </div>
</section>
<!-- End of Collection of Features -->

<!-- Begin Community Section -->
<section class="row">
    <div class="col-12 col-md-6">
        <img src="../../static/images/three_new_official_mcu_series_for_disney__by_artlover67_ddepodh-pre.jpeg" alt="Drone Image" id="Drone-image">
    </div>
    <div class="col-12 col-md-6">
        <h4>Talk with like-minded Avengers!</h4>
        <p>
            Talk with other devs around the world and collab 
            on projects with your data/ Join our slack channel 
            and give a star to the project on Github!
        </p>
        <div>
            <button class="btn btn-primary">View on Github</button>
            <button class="btn btn-primary">Join our Slack Channel</button>
        </div>
    </div>
</section>

<!-- End of Community Section -->

<!-- Start of Footer -->
<footer class="row" id="footer">
    <div class="col-2 col-md-2">
        <img src="../../static/images/marvel_logo.png" alt="Coding Drones Logo" id="footer-logo">
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Avengers</p>
            <p>Kick Butt/p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Classic Squad</h4>
            <p>A Force</p>
            <p>Mighty Avengers</p>
            <p>West Coast Avengers</p>
            <p>Young Avengers</p>
            <p>New, All-Differnt Team</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Multi-Verse</h4>
            <p>Parallel Universes</p>
            <p>Omniverse</p>
            <p>Parallel Timelines</p>
            <p>Other Realms</p>
        </div>
    </div>
</footer>
</div>


{% endblock content %}